layout: index
description: Tìm việc làm phù hợp nhanh chóng, hiệu quả.
subtitle: Kinh nghiệm và chia sẻ khi tìm việc làm.
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Tìm việc nhanh chóng
      p.intro-feature-desc Nhanh chóng tìm được công việc mà bạn mong muốn thông qua nhiều kênh tìm kiếm khác nhau.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Viết đơn chuẩn xác
      p.intro-feature-desc Viết đơn xin việc là một nghệ thuật, hãy viết đơn xin việc tạo ấn tượng tốt nhất cho nhà tuyển dụng.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title Lựa chọn công việc
      p.intro-feature-desc Khi bạn được đề nghị nhiều công việc, lựa chọn công việc thích hợp để phát triển là vô cùng quan trọng.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Lên kế hoạch nghề nghiệp
      p.intro-feature-desc Nhảy việc thường xuyên và không có kế hoạch sẽ ảnh hưởng đến sự phát triển của bạn, hãy lên kế hoạch trước.